tyro
accelerate==0.28.0
imageio
imageio-ffmpeg
lpips
Pillow
safetensors
scikit-image
scikit-learn
scipy
tqdm
kiui >= 0.2.3
roma
plyfile
opencv-python
opencv-python-headless
gsplat==1.4.0

# mvdream
diffusers==0.27.2
huggingface_hub==0.23.5
transformers



python infer_3d.py big --workspace my_results --resume pretrained/recon.safetensors --num_frames 1 --test_path data_test/lifting1_fg.mp4
python infer_4d.py big --workspace my_results --resume pretrained/recon.safetensors --interpresume workspace_recon/model.safetensors --num_frames 16 --test_path data_test/lifting1_fg.mp4